/*www.almasweb.org*/
*{
  font-family: 'Markazi Text', serif !important;
  direction: rtl;
}
html {
  min-height: 100vh;
}

body {
  background-image: url(https://cdn.discordapp.com/attachments/1102588679551205467/1185298496232894584/632525.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;  
  font-size: 16px;
  max-width: 1024px;
  margin: 0 auto;
  min-width: 280px;
  padding-top: 70px;
}

.card,
.card-content,
.card-action {
  background-color: rgba(255,255,255,0.03);
  margin: 0;
}
